<style>
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
/*input[type=submit] {
    width: 100%;
    background-color: rgb(31,32,55);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
*/
input[type=submit]:hover {
    background-color: rgb(31,32,55);
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
/*div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 60px;
}*/
</style>
      <div class="main-content container-fluid">
        <div class = "container " >
          <div class = "jumbotron form-group" style= "width: 85%">
          <center><h1> Jikimu</h1>
          <p> A safe pregnancy journey to reduce the high Maternity Mortality Rate(MMR) with the aim of achieving the Millenium Development Goal 5(MDG-5).</p>
          <!-- <a class = "btn  btn-default active disabled">Watch Now</a
          <a class = "btn  btn-info ">Tweet it</a></center> -->

          </div>
        </div>
        <div class="row" style ="width:135%; height: 50%">
          <div class="col-md-3">
            <div class="widget"> 
              <div class="widget-heading">
                <h3 class="widget-title">1.Information</h3>
              </div>
              <div class="widget-body">
                <!-- <p>Note the <code>.nav-tabs</code> class requires the <code>.nav</code> base class.</p> -->
                <div role="tabpanel">
                  <!-- <ul role="tablist" class="nav nav-tabs mb-15">
                    <li role="presentation" class="active"><a id="home-tab" href="#home" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Home</a></li>
                    <li role="presentation"><a id="profile-tab" href="#profile" role="tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">Profile</a></li>
                    <li role="presentation" class="dropdown"><a id="myTabDrop1" href="#" data-toggle="dropdown" aria-controls="myTabDrop1-contents" aria-expanded="false" class="dropdown-toggle">Dropdown <span class="caret"></span></a>
                      <ul id="myTabDrop1-contents" role="menu" aria-labelledby="myTabDrop1" class="dropdown-menu animated fadeInDown">
                        <li><a id="dropdown1-tab" href="#dropdown1" tabindex="-1" role="tab" data-toggle="tab" aria-controls="dropdown1" aria-expanded="false">@fat</a></li>
                        <li><a id="dropdown2-tab" href="#dropdown2" tabindex="-1" role="tab" data-toggle="tab" aria-controls="dropdown2" aria-expanded="false">@mdo</a></li>
                      </ul>
                    </li>
                  </ul> -->
                  <div class="tab-content">
                    <div>
                      <p>Give the user get adequate information about hypertension induced by pregnancy hence creating a better underastanding between the doctors and the mothers</p>
                    </div>
                    <!-- <div id="home" role="tabpanel" aria-labelledby="home-tab" class="tab-pane fade active in">
                      <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
                    </div>
                    <div id="profile" role="tabpanel" aria-labelledby="profile-tab" class="tab-pane fade">
                      <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.</p>
                    </div>
                    <div id="dropdown1" role="tabpanel" aria-labelledby="dropdown1-tab" class="tab-pane fade">
                      <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsSweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer.</p>
                    </div>
                    <div id="dropdown2" role="tabpanel" aria-labelledby="dropdown2-tab" class="tab-pane fade">
                      <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY</p>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div class="row">
          <div class="col-md-3">
            <div class="widget">
              <div class="widget-heading">
                <h3 class="widget-title">Monitoring</h3>
              </div>
              <div class="widget-body">
                <!-- <p>Note the <code>.nav-tabs</code> class requires the <code>.nav</code> base class.</p> -->
                <div role="tabpanel">
                 <!--  <ul role="tablist" class="nav nav-tabs mb-15">
                    <li role="presentation" class="active"><a id="home-tab" href="#home" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Home</a></li>
                    <li role="presentation"><a id="profile-tab" href="#profile" role="tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">Profile</a></li>
                    <li role="presentation" class="dropdown"><a id="myTabDrop1" href="#" data-toggle="dropdown" aria-controls="myTabDrop1-contents" aria-expanded="false" class="dropdown-toggle">Dropdown <span class="caret"></span></a>
                      <ul id="myTabDrop1-contents" role="menu" aria-labelledby="myTabDrop1" class="dropdown-menu animated fadeInDown">
                        <li><a id="dropdown1-tab" href="#dropdown1" tabindex="-1" role="tab" data-toggle="tab" aria-controls="dropdown1" aria-expanded="false">@fat</a></li>
                        <li><a id="dropdown2-tab" href="#dropdown2" tabindex="-1" role="tab" data-toggle="tab" aria-controls="dropdown2" aria-expanded="false">@mdo</a></li>
                      </ul>
                    </li>
                  </ul> -->
                  <div class="tab-content">
                    <div>
                      <p>Monitoring blood pressure and weight for pregnant women both at home and hospitals making sure all records are well captured</p>
                    </div>
                    <!-- <div id="home" role="tabpanel" aria-labelledby="home-tab" class="tab-pane fade active in">
                      <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
                    </div>
                    <div id="profile" role="tabpanel" aria-labelledby="profile-tab" class="tab-pane fade">
                      <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.</p>
                    </div>
                    <div id="dropdown1" role="tabpanel" aria-labelledby="dropdown1-tab" class="tab-pane fade">
                      <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer.</p>
                    </div>
                    <div id="dropdown2" role="tabpanel" aria-labelledby="dropdown2-tab" class="tab-pane fade">
                      <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY</p>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="widget">
              <div class="widget-heading">
                <h3 class="widget-title">Early Detection</h3>
              </div>
              <div class="widget-body">
                <!-- <p>Take that same HTML, but use <code>.nav-pills</code> instead:</p> -->
                <div role="tabpanel">
                  <!-- <ul role="tablist" class="nav nav-pills mb-15">
                    <li role="presentation" class="active"><a id="home-tab2" href="#home2" role="tab" data-toggle="tab" aria-controls="home2" aria-expanded="true">Home</a></li>
                    <li role="presentation"><a id="profile-tab2" href="#profile2" role="tab" data-toggle="tab" aria-controls="profile2" aria-expanded="false">Profile</a></li>
                    <li role="presentation" class="dropdown"><a id="myTabDrop2" href="#" data-toggle="dropdown" aria-controls="myTabDrop2-contents" aria-expanded="false" class="dropdown-toggle">Dropdown <span class="caret"></span></a>
                      <ul id="myTabDrop2-contents" role="menu" aria-labelledby="myTabDrop2" class="dropdown-menu">
                        <li><a id="dropdown3-tab" href="#dropdown3" tabindex="-1" role="tab" data-toggle="tab" aria-controls="dropdown3" aria-expanded="false">@fat</a></li>
                        <li><a id="dropdown4-tab" href="#dropdown4" tabindex="-1" role="tab" data-toggle="tab" aria-controls="dropdown4" aria-expanded="false">@mdo</a></li>
                      </ul>
                    </li>
                  </ul> -->
                  <div class="tab-content">
                   <!--  <div id="home2" role="tabpanel" aria-labelledby="home-tab2" class="tab-pane fade active in"> -->
                      <p>Early detection is made based on the notifications made during monitoring</p>
                    </div>
                   <!--  <div id="profile2" role="tabpanel" aria-labelledby="profile-tab2" class="tab-pane fade">
                      <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.</p>
                    </div>
                    <div id="dropdown3" role="tabpanel" aria-labelledby="dropdown3-tab" class="tab-pane fade">
                      <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer.</p>
                    </div>
                    <div id="dropdown4" role="tabpanel" aria-labelledby="dropdown4-tab" class="tab-pane fade">
                      <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY.</p>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin:0auto">
          <div class="col-md-6">
            <div class="widget" padding= "500px">
              <div class="widget-heading">
                <h3 class="widget-title">Patient Details</h3>
              </div>
              <div class="widget-body">
                <div style ="border-radius: 5px;background-color: #f2f2f2; padding: 60px;">
                    <form style="" ng-submit="submittest()" class="list" ng-controller="homeCtrl">
                      <label for="fname">Patient's Name</label>
                      <input type="text" id="urine_test" name="urine_test" placeholder=""  required="" ng-model="patient.name">

                     

                     <!--  <label for="country">Blood pressure</label>
                       <input type="text" id="bloodpressure" name="bloodpressure" required="" ng-model="lab.bloodpressure"> -->
                    
                      <input type="submit" value="Submit"  class="button" style="background-color: rgb(31,32,55);">
                      <a ui-sref="index.user" class="button" style="background-color: rgb(244,32,67);" >Add New User</a
                    </form>
                </div>
                
    </section>
    <!-- Work Here end-->
    <!-- Right Sidebar start-->
    
    </div>
    </body>